extend layout
block sidebar
  .widget
    h1 Icecast connections - #{dstream.name}
    include ./menu.jade
    
block content
    
    script.
        var data = !{JSON.stringify(stats)};
    
    div.chart
        div#chart_div(style="height: 800px;")
